parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: false
    paths:
        - %currentWorkingDirectory%/src/
    ignoreErrors:
